.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .forgot-password-container {
    .field-container {
      margin-bottom: 1.5rem;

      &:has(.field-error) {
        margin-bottom: 0rem;
      }

      .field-error {
        color: #dc2626;
        margin: 0.5rem 0 0 0;
        font-size: 0.875rem;
      }
    }

    .heading {
      margin: 1rem 0;
      font-weight: 700;
      font-size: 1.5rem;
    }

    .info-text {
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
    }

    .login-link {
      cursor: pointer;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-left: auto;
      width: fit-content;
    }
  }

  @media (max-width: 600px) {
    .forgot-password-container {
      width: 90%;
      .info-text {
        font-size: 0.875rem;
        line-height: 0.875rem;
        text-align: center;
      }

      .login-link {
        margin-left: 0;
        font-size: 0.875rem;
        align-self: flex-start;
      }
    }
  }
}

