.layout {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  overflow: hidden;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr;
  transition: grid-template-columns 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  grid-template-areas:
    "sidebar content";

  &.collapsed {
    grid-template-columns: 80px 1fr;
  }
}

aside {
  grid-area: sidebar;
  height: 100%;
  width: 100%;
}

.layout-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
  overflow-y: auto;
  background: #f8fafc;
}

