.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  .login-container {
    min-width: 400px;

    .login-form {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      .field-container {
        display: flex;
        flex-direction: column;
        .field-error {
          color: #dc2626;
          margin: 0.5rem 0 0 0;
          font-size: 0.875rem;
        }
      }
    }

    .forgot-password-login {
      display: flex;
      justify-content: space-between;

      .forgot-password-link {
        cursor: pointer;
        margin-left: auto;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
      }
    }
    .social-login-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .social-login-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  @media (max-width: 600px) {
    .login-container {
      width: 90%;
      min-width: unset;

      .login-form {
        gap: 1rem;
      }

      .forgot-password-login {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        .forgot-password-link {
          margin-left: 0;
          font-size: 0.875rem;
        }
      }
    }
  }
}

